* {
  box-sizing: border-box; 
}

body {
  margin: 0;
  background-color: rgb(78, 78, 78);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
  padding: 20px;
  background-color: rgb(51, 51, 51);
  color: cornsilk;
}

.container {
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  grid-template-areas: 'header header header header header header header' 'left left left middle right right right' 'footer footer footer footer footer footer footer';
}

label {
  font-size: 16px;
  color: cornsilk;
  line-height: 200%;
  margin: 0.25em;
}

.left {
  grid-area: left;
}

.middle {
  display: flex;
  grid-area: middle;
  align-items: center;
  justify-content: center;
}

.right {
  grid-area: right;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
}

textarea {
  display: block;
  width: 100%;
  background-color: cornsilk;
}

button {
  height: 20px;
  margin: 1em 0.25em;
  background-color:slategray;
  border-color:dimgray;
  color:cornsilk;
}

button:hover {
  background-color: cornflowerblue;
}