* {
  box-sizing: border-box; 
}

body {
  background-color: powderblue;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
  padding: 20px;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'header header header header header header header' 'left left left middle right right right' 'footer footer footer footer footer footer footer';
}

.left {
  grid-area: left;
  background-color: #ccc;
}

.middle {
  display: flex;
  grid-area: middle;
  align-content: center;
  justify-content: center;
  background-color: #ddd;
}

.right {
  grid-area: right;
  background-color: #ccc;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
}

textarea {
  display: block;
  width: 100%;
}
